@charset "UTF-8";

body{
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    width: 450px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
    margin: 15px auto;
    text-align: center;
}

#imagem{
    padding: 10px;
}

#mensagem{
    padding-top: 5px;
}

footer{
    text-align: center;
    color: white;
    font-family: italic;
}

img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}