@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    background-color: #4d97b9;
}

h1{
    color: #fff;
    text-align: center;
    margin: 30px 0;
}

section{
    background-color: #fff;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
}

input{
    display: block;
    margin: 5px 0;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #80808031;
}

input[type = button]{
    width: 100%;
    margin: 20px 0;
    font-size: 18px;
    cursor: pointer;
    transition: .2s linear;
}

input[type = button]:hover{
    background-color: #838383a1;
    color: #fff;
}

footer{
    text-align: center;
    color: #fff;
    margin: 10px 0;
}