@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(129, 140, 199);
}

h1{
    text-align: center;
    color: white;
    padding: 20px;
}

section{
    width: 400px;
    margin: 5px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
}

#anos{
    padding: 3.5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 5px;
    outline: none;
}

div{
    padding: 5px;
}

.pp{
    padding: 5px;
}

#sexo{
    display: inline-flex;
    padding: 5px;
    align-items: baseline;
}

#sexo input{
    margin-left: 5px;
}

#sexo label{
    margin-left: 5px;
}

footer{
    text-align: center;
}

footer p{
    margin-top: 15px;
}

#botao{
    padding: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 5px;
    cursor: pointer;
}

#botao:hover{
    background-color: rgba(0, 0, 0, 0.329);
}